.gradle
!gradle/wrapper/gradle-wrapper.jar

### folder ###
/.gradle/
/bin/
/build/
/gradle/
/target/
/war/

.README.md.*



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/